@media only screen and (max-device-width: 480px) {
    body {
        font-size: 40px;
    }

    .wrapper {
        margin: 20px;
        max-width: 100%;
    }

    .post-list-heading {
        font-size: 48px;
    }

    div#template {
        margin: 5px;
    }
}

@media only screen and (min-device-width: 481px) {
    #template {
        margin: 60px;
        max-width: 600px;
    }
}

#template {
    padding: 20px;
    border: 1px solid black;
    background-color: #eee;
}
